server:
  port: 8081

spring:
  application:
    name: "uis-service"
  datasource:
    url: jdbc:postgresql://localhost:5432/bank_auth_db
    username: bank_admin
    password: secure_password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

